:host ::ng-deep {
  .mat-expansion-panel-spacing {
    margin: 0 0;
  }

  .mat-accordion .mat-expansion-panel {
    &:not(:first-of-type):not(:last-of-type) {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:last-of-type {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    &:first-of-type {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
