.pill-drop {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -6px;
  background: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-primary-gradient)
  ) !important;
}

.set-pill {
  background: linear-gradient(
    135deg,
    var(--color-primary-gradient),
    var(--color-primary)
  ) !important;
}

.set-pill {
  min-height: 32px;
}

.set-pill.has-drop-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

// Small layout styles
.set-info-container.small-layout {
  @apply origin-left scale-75;
  width: 133.33%;
  .set-pill {
    @apply px-1 py-0.5;
  }
}
