:host {
  display: block;
}

.loader-background {
  background-color: light-dark(rgba(255, 255, 255, 0.8), rgba(17, 24, 39, 0.8));
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  position: relative;
  z-index: 1000;
}
